Supporters/bin/logs/frpcservice.err.log
Supporters/bin/logs/frpcservice.wrapper.log
Supporters/bin/logs/frpcservice.out.log

Supporters/bin/logs/frpcservice.err.log.old
Supporters/bin/logs/frpcservice.out.log.old
